.main_container{
    
    width: 200px;
    /* display: block;
    align-items: center; */
}

.pic img{
   margin-bottom: -4px;
   width: 200px;
   
}

.theme{
    color: aliceblue;
    /* background-color:darkcyan; */
    
    /* background-color: black; */
}
.btn1{
    display: flex;
    justify-content: center;
    /* background-color: black; */
}