.main_container{
    
    width: 200px;
    /* background-color: #fff; */
    margin-bottom: 20px;
    margin-inline: 10px;
    position: relative;
    /* display: block;
    align-items: center; */
}

.close{
    position: absolute;
    right: 0%;
    background-color:blanchedalmond;
    color: red;
    border: 0;
}
.close:hover{
    background-color:cadetblue;
}
.edit{
    position: absolute;
    right: 24px;
    background-color:bisque;
    color: black;
    border: 0;
}
.edit:hover{
    background-color:cadetblue;
}


.pic img{
   margin-bottom: -4px;
   width: 200px;
   
}

.theme{
    color: aliceblue;
    /* background-color:darkcyan; */
    
    /* background-color: black; */
}
.btn1{
    display: flex;
    justify-content: center;
    /* background-color: black; */
}