.main_container{
    
    display: block;
    align-items: center;
}
.size img{
    height: 100%;
    width: 100%;
   object-fit: contain;
   
}

.theme{
    color: aliceblue;
    margin-top: -4px;
    background-color:darkcyan;
    text-align: center;
}