
.app{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* height: 100vh; */
}

.darkmode{
  background-color: #110808;
}
.lightmode{
  background-color:rgb(33, 170, 216);
}